
<!-- MAP SECTION LEFT -->
 <div class="map-result col-md-4">
    <%- include ../shared/map.ejs %>
  </div>

<!-- RESULTS SECTION RIGHT -->
  <div class="side-bar col-md-8 results">


    <div class="section overview col-md-12">


          <% var noApartments = results.main.info.yelpZillow.apartmentInfo.length < 1 %>

          <% var proximityScore = ((results.walkscore.walkscore + (results.main.info.yelpZillow.yelpFoodRating * 20) + (results.main.info.yelpZillow.yelpEntertainmentRating * 20)) / 3 )%>

          <% var priceScore = ((results.walkscore.walkscore + (results.main.info.yelpZillow.yelpFoodRating * 10) + (results.main.info.yelpZillow.yelpEntertainmentRating * 10)) / 2 )%>

          <% var placesScore = ((((results.main.info.yelpZillow.yelpFoodRating + results.main.info.yelpZillow.yelpEntertainmentRating)/2)* 20))%>
          <% var score = ((placesScore * 3.33) + (proximityScore * 3.34) + (priceScore * 3.33))%>

      <div class="score">
        <form method="post" action="/favorites">
          <input type="hidden" name="address" value="<%= results.main.info.yelpZillow.zillow.address %>">
          <input type="hidden" name="zipcode" value="<%= results.main.info.yelpZillow.zillow.zipcode %>">
          <% if(noApartments){ %>
            <input type="hidden" name="mainImage" value="http://cliparts.co/cliparts/di9/X5z/di9X5z94T.png">
          <% } else {  %>
            <input type="hidden" name="rating" value="<%= parseInt(results.main.info.yelpZillow.apartmentInfo[0].apartmentRating) %>">
            <input type="hidden" name="mainImage" value="<%= results.main.info.yelpZillow.zillow.images[0] %>">
          <% }  %>

         <button class="glyphicon glyphicon-heart btn btn-success pull-right"></button>
        </form>
        <% if(noApartments){ %>
        <h3><%= results.main.info.yelpZillow.zillow.neighborhood %></h3>
        <% } else { %>
        <h3><%= results.main.info.yelpZillow.apartmentInfo[0].apartmentName %></h3>
        <% }  %>
        <h2>
          Score:
          <%= Math.round(score) %>
        </h2>

         <!--  <div class="progress">

              <span class="sr-only">1000 Complete</span>
            </div>
          </div> -->
          <div id="progressbar"></div>
          <input id='score' type='hidden' value="<% Math.floor(score/10) %>">
        <p>
          <%= results.main.info.community_snippet %>
        </p>
      </div>

    </div>


      <div class="overall-score col-md-12">

      <div class="col-md-3">
        <div class="small panel panel-default">
        <h3 class="score-results proximity_score">Proximity</h3>
          <h2 class="display"><%= Math.round((results.walkscore.walkscore + (results.main.info.yelpZillow.yelpFoodRating * 20) + (results.main.info.yelpZillow.yelpEntertainmentRating * 20)) / 3) %>/100</h2>

        </div>
      </div>
      <div class="col-md-3">
        <div class="small panel panel-default">
        <h3 class="score-results social_score">Social</h3>
          <h2 class="display">
          <% var count = 0  %>
            <% results.main.images.forEach(function(likes){ %>
                  <% count = likes.likes.count + count %>
                  <% count = likes.comments.count + count %>
          <% }); %>
          <%= count  %></h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small panel panel-default">
        <h3 class="score-results" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Price</h3>
          <h2 class="display"><%= Math.round((results.walkscore.walkscore + (results.main.info.yelpZillow.yelpFoodRating * 10) + (results.main.info.yelpZillow.yelpEntertainmentRating * 10)) / 2) %>/100</h2>
        </div>
      </div>
      <div class="col-md-3">
        <div class="small panel panel-default">
          <h3 class="score-results places_score">Places</h3>
            <h2 class="display"><%= Math.round((((results.main.info.yelpZillow.yelpFoodRating + results.main.info.yelpZillow.yelpEntertainmentRating)/2)* 20)) %>/100</h2>
        </div>
      </div>



      </div>

<!-- YelpSCORES/WORD CLOUD -->
    <div class="well">

    <% if(noApartments){ %>
      <h2>Community Ratings: <%= results.main.info.yelpZillow.yelpFoodRating %>


    <%  } else {  %>
      <h2>Community Ratings: <%= results.main.info.yelpZillow.apartmentInfo[0].apartmentRating %>
        <% for (var i=1; i<results.main.info.yelpZillow.apartmentInfo[0].apartmentRating; i++){ %>
          <img src="../img/z-star.png" class="star">
        <% } %>
    <% } %>
    </h2>




    <%if(noApartments){  %>
    <% } else { %>
      <%= results.main.info.yelpZillow.apartmentInfo[0].apartmentSnippet %>
    <% } %>
    </div>

<!-- INSTAGRAM PHOTOS -->
    <div class="well photo-results">
    <h2>People Nearby</h2>
    <% if(results.main.images.length < 1){ %>
    <img src="http://www.clipartbest.com/cliparts/ncB/XBX/ncBXBXgBi.png"><p>No Community photos for <%= results.main.info.yelpZillow.zillow.address  %>, check back soon!</p>
    <% } else { %>
      <% results.main.images.forEach(function(image){ %>
      <img src="<%= image.images.thumbnail.url  %>">
      <% }) %>
    <% } %>
    </div>
<!-- YELP PHOTOS -->
    <div class="well photo-results">
    <h2>Entertainment Nearby</h2>
    <% results.main.info.yelpZillow.foodPhotos.forEach(function(image){ %>
      <img src="<%= image  %>">
      <% }) %>
    </div>
<!-- Home Photos -->
    <div class="well photo-results">
    <h2>Home Photos</h2>
    <% if(typeof results.main.info.yelpZillow.zillow.images == "undefined"){ %>
      <img src="http://cliparts.co/cliparts/di9/X5z/di9X5z94T.png"><p>No Location photos for <%= results.main.info.yelpZillow.zillow.address  %>, check back soon!</p>
    <% } else { %>
      <% results.main.info.yelpZillow.zillow.images.forEach(function(image){ %>
        <img src="<%= image  %>">
      <% }) %>
    <% }  %>
    </div>
  </div>
</div>





